# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django-specific
*.log
*.pot
local_settings.py  # Or other settings file with sensitive data
db.sqlite3         # If using SQLite as a local development database
media/             # Collected media files, if not part of source control
static/            # Collected static files, if not part of source control

# IDE-specific
.idea/             # JetBrains PyCharm, IntelliJ, etc.
.vscode/           # VS Code
*.swp              # Vim
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store          # macOS
Thumbs.db          # Windows

# Environment files
.env
.flaskenv