{% extends 'tapasapp/base.html' %}
{% load static %}



                {% block content %}
                <div class="col-12">
                    <table class="table table-striped table-hover">
                        <thead >
                            <tr>
                                <th class="table-dark" scope="col"> Name </th>
                                <th class="table-dark" scope="col"> Cooking Time </th>
                                <th class="table-dark" scope="col"> Prep Time </th>  
                                <th class="table-dark" scope="col"> </th>  
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in dishes %}
                            <tr>
                                <td> {{ d.name }} </td>
                                <td> {{ d.prep_time }} </td>
                                <td> {{ d.cook_time }} </td>
                                <td> <a href="#" class="btn btn-outline-dark">View Details</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock %}

                {% block sidecontent %}
                <u1 class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" onclick="return false">View Wines</a>
                    <a href="#" class="list-group-item list-group-item-action" onclick="return false">View Large Dishes</a>
                    <a href="#" class="list-group-item list-group-item-action" onclick="return false">View Coursed Menus</a>
                </u1>
                {% endblock %}

            